body {
  padding: 0;
  background-image: url("../images/level1/grassBackground.png");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-position: center;
  background-position-y: -400px;
}

.game-board {
  display: table;
  margin: auto;
  margin-top: 20px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#canvas {
  -webkit-box-shadow: 0 0 20px rgb(75, 189, 255);
  -moz-box-shadow: 0 0 20px rgb(75, 189, 255);
  box-shadow: 0 0 20px rgb(75, 189, 255);
  border: 2px solid rgb(0, 0, 0);
}

.pickhtml {
  border: 2px solid white;
  background-color: white;
  padding: 3px;
  border-radius: 13px;
  width: 60px;
  height: 60px;
  margin: 2px;
}
.side-panel {
  display: flex;
}

.toolsEarned {
  position: absolute;
  margin-left: 435px;
  margin-top: 41px;
}

#carouselExampleIndicators {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}
